NODE_ENV=development
DATABASE_URL='DATABASE_URL="postgresql://username:password@localhost:5432/ledger'
NODE_TLS_REJECT_UNAUTHORIZED=0
JWT_SECRET=7f8902ce2392cacfc8549b979e43baf776509226eae9c276a779ab408bba84e7